@import 'variables';


.block {
    width: 100%;
    height: 100vh  ;
    background-color: #fff;
}

.header {
    width: 100%;
    display: flex;

    &--top {
        background-color: #696969;
        justify-content: space-between;
        position: fixed;
        z-index: 20;
        left: 0;
        top: 0;
    
        @include md {
            position: relative;
        }
    }

    &--bottom {
        background-color: #fff;
        margin-top: 29px;
        min-height: 50px;
        justify-content: space-between;
        position: fixed;
        z-index: 20;
        bottom: 0;
        left: 0;
    
        @include md {
            position: relative;
        }
    }

    &__button {
        width: 56px;
        
    @include md {
        width: 124px;
    }

        &-svg {
            width: 15px;
            height: 16px;
    
            @include rwd(900) {
                margin-right: 10px;
            }
        }

        &-text {
            font-size: 0;

            @include rwd(900) {
                font-size: 12px;
            }
        }
    }

    &__logo svg {
        width: 196px;
        height: 38px;
        display: none;
    
        @include rwd(900) {
            display: block;
        }
    }
}


.header-nav {
    &__links {
        padding-top: 20px;
        display: none;

        @include md {
            display: flex;
        }
    }
    &__link {
        text-decoration: none;
        height: 28px;
        padding: 0 12px;
        margin-right: 12px;
        color: #c3c3c3;
        font-size: 12px;
        text-transform: uppercase;        
        font-weight: 400;
        border-bottom: 2px solid transparent;
        transition: 0.3s;

        &:first-child {
            padding: 0 12px 0 0;
        }

        &:hover {
            border-bottom: 2px solid #ffc925;
        }

        &--active {
            color: #fff;
            border-bottom: 2px solid #ffc925;
        }
    }
    &--mob {
        display: block;

        @include rwd(900) {
            display: none;
        }
    }

    &__lists {
        display: flex;
        flex-direction: column;

        .header-nav {
            &__links {
                display: flex;
                flex-direction: column;
            }
            &__link {
                padding: 9px 23px;
            }
        }
    }
}

.mm-navbar { 
    --mm-color-background: #696969;
    --mm-color-text-dimmed: #ff8900;
    --mm-color-button: #fff;
    height: 49px;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
}
.mm-panel { 
    --mm-color-background: #696969;
    --mm-color-text: #fff;
    --mm-color-button: #ffc925;
}

.header-callback {
    width: auto;
    margin-left: 33px;

    @include sm {
        display: none;
    }

    @include md {
        display: flex;
    }

    &__button {
        flex-shrink: 0;
        width: 197px;
    }

    &__svg {
        width: 12px;
        height: 17px;
        margin-right: 10px;
    }
}

.phone-wrapper {
    padding-right: 44px;
    padding-left: 12px;
    max-width: 387px;
    height: 50px;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    @include md {
        flex-direction: row;
    }


    .phone__text {
        font-size: 26px;
        font-weight: bold;
    }

    .telphons {
        display: block;
        width: 145px;
        text-decoration: none;
        color: #000;
        font-style: italic;
        font-weight: bold;
        font-size: 16px;
        margin: auto;

        @include sm {
            margin: 0;
        }
        &:first-child {
            margin: auto;

            @include md {
                margin-right: 35px;
            }
        }
    }
}


.mmenu_ctm {
    margin-top: 5px;

    @include sm {
        display: block;
    }

    @include md {
        display: none;
    }

    .phone-wrap {
        display: block;
        background-color: #696969;
        max-width: 198px;

        .telphons {
            margin: auto;
            margin-top: 5px;
            color: #fff;
        }
    }
}

.header__options {
    cursor: pointer;
    max-width: 180px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin: auto;

    @include md {
        max-width: 281px;
        margin-right: 34px;
        margin-left: 10px;
    }
    
}

.header__option {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-icon {
        width: 32px;
        height: 22px;
        margin-bottom: 7px;

        @include md {
            width: 40px;
            height: 32px;
        }
    }

    &-title {
        font-size: 8px;
        text-transform: uppercase;
        color: #3d3d3d;
        
        @include md {
            font-size: 10px;
        }
    }
}