@import 'variables';


.block {
    width: 100%;
    height: 100vh  ;
    background-color: #fff;
}

.header-wrap {
    height: 100%;
    max-height: 80px;

    @include md {
        max-height: 140px;
    }
}

.header-line__back {
    width: 100%;
    height: 50px;

    &--gray {
        background-color: #696969;
    }
}

.header-wrapper {
    max-width: 1360px;
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #696969;
    justify-content: space-between;
    position: fixed;
    z-index: 20;

    @include md {
        position: relative;
    }
}



.header-nav {
    font-size: 12px;
    display: flex;

    &__button {

        @include sm {
            display: block;
        }

        @include rwd(900) {
            display: none;
        }        

        &:focus {
            outline: none;
        }
    }

    &__items {
        padding: 0;
        margin: 0;

        @include sm {
            flex-direction: column;
        }

        @include rwd(900) {
            flex-direction: row;
        }
    }

    &__item {
        
        height: 48px;
        line-height: 50px;
        text-decoration: none;
        text-transform: uppercase;
        color: #c3c3c3;

        @include sm {
            margin: 0;
            padding: 0;
            padding-left: 23px;
        }

        @include md {
            padding: 0 15px;
            margin: 0px 23px 0px -15px;
            justify-content: center;
        }

    }

    .active {
        border-bottom: 2px solid #ffc925;
        color: #fff;
    }
}

.mm-navbar { 
    --mm-color-background: #696969;
    --mm-color-text-dimmed: #ff8900;
    --mm-color-button: #fff;
    height: 49px;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
}
.mm-panel { 
    --mm-color-background: #696969;
    --mm-color-text: #fff;
    --mm-color-button: #ffc925;
}

.button {
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.header__nav--dt {
    @include sm {
        display: none;
    }

    @include rwd(900) {
        display: block;
    }
}


.header-popup {

    &__button {
        height: 50px;
        font-size: 12px;
        max-width: 124px;
        width: 100%;
        background-color: #ff8900;
        color: #fff;
        text-transform: uppercase;

        @include sm {
            max-width: 56px;
            padding: 0;
        }
        @include md {
            max-width: 124px;
        }
    }

    &__icon {
        width: 15px;
        height: 16px;

        @include rwd(900) {
            margin-right: 10px;
        }
    }
}

.button__title {
    @include sm {
        display: none;
    }

    @include md {
        display: block;
    }
}

.second-header-wrapper {
    display: flex;
    
    background-color: #fff;
    width: 100%;
    z-index: 20;
    margin: auto;
    position: fixed;
    bottom: 0px;

    @include sm {
        border-top: 1px solid #acacac;
        justify-content: center;
        padding-top: 5px;
    }

    @include md {
        border: none;
        max-width: 1360px;
        padding-top: 37px;
        position: relative;
        justify-content: space-between;
    }
}

.header__logo svg {
    width: 196px;
    height: 38px;
    display: none;

    @include rwd(900) {
        display: block;
    }
}

.header-callback__wrap {
    width: auto;
    margin-left: 33px;

    @include sm {
        display: none;
    }

    @include md {
        display: flex;
    }
}

.phone-wrap {
    padding-right: 44px;
    padding-left: 12px;
    max-width: 387px;
    height: 50px;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    @include md {
        flex-direction: row;
    }


    .phone__text {
        font-size: 26px;
        font-weight: bold;
    }

    .telphons {
        display: block;
        width: 145px;
        text-decoration: none;
        color: #000;
        font-style: italic;
        font-weight: bold;
        font-size: 16px;
        margin: auto;

        @include sm {
            margin: 0;
        }
        &:first-child {
            margin: auto;

            @include md {
                margin-right: 35px;
            }
        }
    }
}

.header-callback {

    &__button--orange {
        width: 100%;
        padding: 0 30px;
        background-color: #ff8900;
        color: #fff;
        text-transform: uppercase;
    }

    &__icon {
        width: 12px;
        height: 17px;
        margin-right: 10px;
    }
}

.mmenu_ctm {
    margin-top: 5px;

    @include sm {
        display: block;
    }

    @include md {
        display: none;
    }

    .phone-wrap {
        display: block;
        background-color: #696969;
        max-width: 198px;

        .telphons {
            margin: auto;
            margin-top: 5px;
            color: #fff;
        }
    }
}

.header__options {
    max-width: 180px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin: auto;

    @include md {
        max-width: 281px;
        margin-right: 34px;
        margin-left: 10px;
    }
    
}

.header__option {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-icon {
        width: 32px;
        height: 22px;
        margin-bottom: 8px;

        @include md {
            width: 40px;
            height: 32px;
        }
    }

    &-title {
        font-size: 8px;
        text-transform: uppercase;
        color: #3d3d3d;
        
        @include md {
            font-size: 10px;
        }
    }
}