.popup-wrapper {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 34px 42px;
    display: flex;

    @include sm {
        max-width: 300px;
        flex-direction: column;
    }

    @include md {
        max-width: 690px;
        flex-direction: row;
    }
}

.popup__title {
    font-weight: bold;
    font-size: 24px;
    color: #3b3b3b;
}

.popup-enter {
    padding-right: 35px;
    max-width: 303px;
    width: 100%;
    color: #3b3b3b;

    .field-wrap {
        margin-top: 20px;

        &:first-child{
            margin-top: 30px;
        }

        .field__title {
            display: flex;
            flex-direction: column;
            color: #3b3b3b;

            .text {
                font-size: 14px;
                margin-bottom: 15px;
            }
            .error {
                border: 1px solid #ea4335;
            }

            label.error {
                border: none;
                color: #ea4335;
                font-size: 14px;
            }
        }
    }
    &__input {  
        max-width: 286px;
        height: 38px;
        padding: 0;
        padding-left: 13px;
    }

    .checkbox-wrap {
        margin-top: 28px;
        position: relative;
    }

    .popup-enter__input-checkbox {
        display: none;
        position: relative;
    }
  
    .popup-enter__input-checkbox + label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 16px;
    height: 16px;
    border: 1px solid #d2d2d2;
    }

    .popup-enter__input-checkbox + label:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    background: #ffffff;
    }

    .popup-enter__input-checkbox:checked + label:after {
    background: #ff4500;
    }

    .checkbox__title {
    margin-left: 27px;
    font-size: 14px;
    }

    .switch-popup {
        margin-top: 25px;
        
        &__button {
            cursor: pointer;
            border: none;
            margin: 0;
            background-color: #fff;
            text-decoration: underline;
        }
    }

    .field-wrap {
        margin-top: 27px;

        .popup-enter__button {
            max-width: 210px;
            width: 100%;
            color: #fff;
            background-color: #afb9c6;
        }
    }
}

.popup__line--gray {
    height: auto;
    width: 1px;
    background-color: #afb9c6;
}

.popup-enter__social {
    max-width: 295px;
    width: 100%;

    @include sm {
        padding: 0;
        padding-top: 20px;
    }

    @include md {
        padding-left: 38px;
        padding-top: 0;
    }
}

.popup-enter__social-button-items {
    

    @include sm {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }

    @include md {
        margin-top: 52px;
        display: block;
    }

    .popup-enter__social-button-item {
        margin-bottom: 24px;
        width: 100%;
        color: #fff;

        @include sm {
            max-width: 50px;

            .svg-social {
                margin-right: 0px;
            }
        }
    
        @include md {
            max-width: 295px;

            .svg-social {
                margin-right: 12px;
            }
        }

        .text {

            @include sm {
                display: none;
            }
        
            @include md {
                display: block;
            }
        }
    }

    .button {

        &--blue {
            background-color: #3b5998;
        }

        &--lblue {
            background-color: #41abe1;
        }

        &--red {
            background-color: #ea4335;
        }
    }
}

.popup-callback__wrap {
    max-width: 300px;

    .popup-enter {
        padding: 0;
    }
}

.popup-enter__button--orange {
    margin: auto;
    max-width: 210px;
    width: 100%;
    background-color: #ff8900;
    font-size: 14px;
    color: #fff;
}

.popup-subscribe {
    .popup-subscribe__wrap {
        .title {
            background-color: #fff;
            width: max-content;
            margin: auto;
        }
    }
}

.popup-phone__wrap {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    .telphons {
        cursor: pointer;
        margin-bottom: 5px;
        text-decoration: none;
        color: #696969;
    }
}

.popup-phone__title {
    font-weight: bold;
    margin-bottom: 10px;
}



//anim 

.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

