.popup-wrap {
    background-color: #fff;
    width: auto;
    max-width: 920px;
    padding: 30px 20px;
    position: relative;
    margin: auto;
}

.popup-basket__wrapper {
    width: 100%;
    .mfp-close {
        right: -44px;
    }
}

.popup-basket__items {
    // display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.popup-basket-clear {
    width: fit-content;
    margin: auto;
    display: none;
    color: #3b3b3b;
    margin-top: 36px;
}

.active {
    display: block;
}

.popup-basket__item-wrapper {
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    min-height: 126px;
    border-bottom: 1px solid #f0f0f0;
    margin: 20px 0;
    padding-bottom: 40px;
    &:first-child {
        margin-top: 40px;
    }
    &:last-child {
        border-bottom: 0px solid #fff;
        // @include md {
        //     margin-bottom: 63px;
        // }
    }

    @include md {
        margin-top: 80px;
        margin-bottom: 0;
        min-height: 90px;
    }
}

.popup-basket-delete__accept {
    top: 20px;
    opacity: 1;
    transition: 0.3s;
    max-width: 150px;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    color: #3d3d3d;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.popup-basket-delete__title {
    font-size: 20px;
}

.popup-basket-delete__buttons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.popup-basket-delete__button {
    height: 25px;
    width: 50px;
    font-weight: 700;
    color: #fff;
    // height: auto;
    text-transform: uppercase;
    transition: 0.3s;
    &--yes {
        background-color: #c41d1d;
        padding: 5px 8px;
        // margin: 20px 10px;
    }
    &--later {
        background-color: #9c9c9c;
    }
    &--no {
        padding: 5px 8px;
        background-color: #1dc463;
    }
    &:hover {
        background-color: #ff9500;
    }
}

.popup-basket__item {
    background-color: #fff;
    z-index: 2;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @include md {
        justify-content: center;
    }

    .popup-basket-price {
        margin-top: 10px;
        font-size: 24px;

        @include md {
            font-size: 30px;
            width: 170px;
            margin-top: 0;
        }
    }
}

.popup-basket__icon {
    cursor: pointer;
    &:active {
        transform: scale(1.1)
    }
}

.popup-basket__icon--del {
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        top: 8px;
        left: 0;
        width: 18px;
        height: 2px;
        background-color: #c41d1d;
        transform: rotate(45deg);
        transition: 0.3s;
    }
    &::after {
        position: absolute;
        content: "";
        top: 8px;
        left: 0;
        width: 18px;
        height: 2px;
        background-color: #c41d1d;
        transform: rotate(-45deg);
        transition: 0.3s;
    }
    &:hover {
        &::after {
            background-color: #ff002b;
            transform: scale(1.2) rotate(-45deg);
        }
        &::before {
            background-color: #ff002b;
            transform: scale(1.2) rotate(45deg);
        }
    }
}

.popup-basket__img--small {
    // width: 40px;
    // height: 20px;
    transform: scale(0.5);
    img {
        width: auto;
        height: 100%;
    }

    @include md {
        margin-left: 22px;
        margin-right: 22px;
        width: 90px;
        height: 90px;
        transform: scale(1);
        img {
            width: auto;
            height: 100%;
        }

    }
}

.popup-basket__title {
    max-width: 173px;
    width: 100%;
    color: #3b3b3b;
    margin-right: 0;
    
    .popup-basket__text {
        font-weight: normal;    
        font-size: 11px;
        text-decoration: underline;

        @include md {
            font-size: 17px;
        }
    }

    @include md {
        max-width: 300px;
        margin-right: 45px;
    }
}

.popup-basket-price--one {
    display: none;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    color: #3b3b3b;
    margin-top: 14px;
    .popup-basket-price {
        white-space: nowrap;
        font-size: 19px;
        margin: 0;
    }

    @include md {
        display: flex;
    }
}

.popup-basket-price {
    color: #3b3b3b;
    font-weight: 900;
    font-style: italic;
}

.popup-basket__icon--min {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        top: 8px;
        left: 0;
        width: 18px;
        height: 2px;
        background-color: #8c8c8c;
    }
}



.popup-basket__counter {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    @include md {
        width: 157px;
        margin-top: 0;
        margin-right: 90px;
    }
}

.popup-basket__count {
    background-color: #f0f0f0;
    font-size: 14px;
    font-weight: normal;
    color: #9c9c9c;
    width: 40px;
    height: 20px;
    text-align: center;
    line-height: 50px;
    border: 0px;

    @include md {
        font-size: 16px;
        width: 90px;
        height: 50px;
    }
}

.popup-basket__icon--pls {
    margin-left: 5px;
    width: 16px;
    height: 16px;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        top: 8px;
        left: 0;
        width: 18px;
        height: 2px;
        background-color: #ff9500;

    }
    &::after {
        position: absolute;
        content: "";
        top: 8px;
        left: 0;
        width: 18px;
        height: 2px;
        background-color: #ff9500;
        transform: rotate(90deg)
        
    }
}

.popup-basket-chekout__wrapper {
    margin-top: 63px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;

    .continue__link {
        cursor: pointer;
        color: #000000;
        font-size: 14px;
        position: relative;
        text-decoration: underline;
        left: 0;
        width: auto;
        height: auto;
        font-family: 'Roboto';
        opacity: 1;
        padding: 0;
    }
}

.popup-basket-price__wrapper {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fffedb;
    margin-top: 8px;
    margin-bottom: 8px;
    @include md {
    margin: 0;
    margin-left: 55px;
    width: max-content;
    padding: 0 40px;
    }
    .popup-basket-price {
        font-size: 30px;
    }
}

.popup-basket-price__title {
    font-size: 14px;
    font-weight: normal;
    color: #363636;
    margin-right: 33px;
}

.popup-basket-buy {
    width: 210px;
}

.popup-basket-delete__accept {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: none;
}

.delete-animation {
    width: max-content;
    animation: deleteAnimation 1.5s forwards;
}

@keyframes deleteAnimation {
    0% {
        left: 0px;
        opacity: 1;
    }   
    50% {
        opacity: 0;
    }

    100% {
        left: 920px;
    }
}