@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.woff');
    font-weight: regular;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.woff');
    font-weight: medium;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.woff');
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Black.woff');
    font-weight: 900;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.woff');
    font-weight: 100;
}